<div class="navigation-outer">
    <NavLink class="navigation-button" ActiveClass="navigation-button-active" href="movies" Match="NavLinkMatch.All">
         Movies
    </NavLink>
    <NavLink class="navigation-button" ActiveClass="navigation-button-active" href="people">
        People
    </NavLink>
    <NavLink class="navigation-button" ActiveClass="navigation-button-active" href="tags">
        Tags
    </NavLink>
</div>
