.movie-title {
    text-overflow: ellipsis;
    font-size: 1.5rem;
}

.movie-rating {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: right;
}

.movie-section-title{
    font-size: 1.2rem;
    font-weight: 500;
}

.titled-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.directors-list {
    display: inline-block;
}

.actors-list {
    display: inline-block;
}

.similar-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

a {
    padding-right: 0.5rem;
    font-size: 1.2rem;
    font-weight: 300;
    text-decoration: none;
}

.movie-header-display {
    display: grid;
    grid-template-columns: 33% 1fr;
    gap: 1rem
}

.movie-image {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.movie-name {
    font-weight: 400;
    font-size: 1.5rem;
}

.movie-description {
    font-weight: 200;
    font-size: 1.2rem;
    color: #666666;
}

.rating-name {
    font-weight: 200;
    font-size: 1.2rem;
    color: #666666;
}

.rating-digits {
    font-weight: 400;
    font-size: 1.2rem;
}

.tag-link {
    color: black;
    border-radius: 0.35rem;
    padding: 0.15rem 0.5rem;
    word-break: keep-all;
    white-space: nowrap;
    margin: 0.1rem;
}

.tag-link-container {
    border-radius: 0.4rem;
    margin: 0.2rem;
    height: 100%;
    width: 100%;
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}