@using DatabaseInteraction

<div class="person-entry" onClick="window.location='/person/@Entry!.PersonId'">
    <div class="person-header-box">
        <span class="person-title"> @Entry.PrimaryName </span>
        <div></div>
    </div>
    <div class="titled-list">
        <span class="person-section-title"> Movies </span>
        @if (Entry.GetMovies(_context).Count() > 10)
        {
            <div class="actors-list">
                @foreach (var movie in Entry.GetMovies(_context).Take(10)) { <a href=@($"/movie/{movie.MovieId}")> @movie.PrimaryTitle </a> }
                ...
            </div>
        } else if (Entry.GetMovies(_context).Any())
        {
            <div class="actors-list">
                @foreach (var movie in Entry.GetMovies(_context)) { <a href=@($"/movie/{movie.MovieId}")> @movie.PrimaryTitle </a> }
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public DatabaseInteraction.Person? Entry { get; set; }

    private readonly ApplicationContext _context = DbFactory.GetContext();
}