.search-form {
    display: grid;
    grid-template-columns: 1fr 10rem;
    gap: 0.5rem;
}

.search {
    padding: 12px;
    width: 100%;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    font-size: 1.2rem;
}

.submit {
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    font-size: 1.2rem;
}

.submit:hover {
    background-color: #fafafa;
}