@page "/tags"
@using DatabaseInteraction
@using Microsoft.EntityFrameworkCore

<div class="tag-list">
    @foreach (var tag in _tags ?? [])
    {
        <a class="tag-link" href="/tag/@tag.TagId" style="background-color: @GetTagColor(tag.TagId)"> @tag.Name - @tag.CountMovies(_context) </a>
    }
</div>

@code {
    private readonly ApplicationContext _context = DbFactory.GetContext();
    private List<DatabaseInteraction.Tag>? _tags;

    protected override async Task OnInitializedAsync()
    {
        _tags = await _context.Tags.ToListAsync();
    }

    public static string GetTagColor(int tagId)
    {
        var random = new Random(tagId);
        return $"#{random.Next(200, 256):X2}{random.Next(200, 256):X2}{random.Next(200, 256):X2}";
    }
}